		<% case current_user.role %>
			<% when "admin" %>
			<div class="span12">
			You're an admin!
			</div>
			<% when "staff" %>
			You're a staff person!
			<% when "teacher" %>
			You're one of them teachers!
			<% when "student" %>
				<aside class="span4">
					<div class="module" id="active-courses">
					<h2>Active Courses</h2>
					<div class="accordion">
					<% @courses.each_pair do |state, courses| %>
						<% unless courses.blank? %>
							<% courses.each_with_index do |course, index| %>
							<div class="accordion-group">
								<div class="accordion-header">
									<div class="accordion-toggle" data-toggle="collapse" data-target="#record<%= index %>">
										<span><%= course.name %></span>
										<small>23%&nbsp;completed</small>
									</div>
								</div>
								<div id="record<%= index %>" class="accordion-body collapse <%= index == 0 ? "in" : "" %>">
									<div class="module-body">
										<p>Next Assignment: <strong>Chapter 5</strong></p>

										<a class="btn btn-primary" href="#">Go!</a>
										<a class="btn btn-info" href="#">Course Details</a>
										<span class="average pull-right">92</span>
									</div>
								</div>
							</div>
							<% end %>
						<% else %>
							<div class="module" id="no-courses">
								<h3>My Current Courses</h3>
								<p>
									You don't have any active courses. Why don't you <%= link_to "have a look at the available courses.", courses_path %>
								</p>
							</div>
						<% end %>
					<% end %>
					</div>
					</div>
				</aside>
			<% # End student Case %>
		<% end %>