<% sidebar true %>
<div class="row">
	<% case current_user.role # TODO: Is a case statement the best way to handle user roles in the view?
	 %>
		<% when "admin" %>
			<div class="span12 content">
			You're an admin!
			</div>
		<% when "staff" %>
			<div class="span12 content">
				You're a staff person!
			</div>
		<% when "teacher" %>
			<div class="span12 content">
				You're one of them teachers!
			</div>
		<% when "student" %>
			<aside class="span4">
				<div class="module">
					<h2><%= t 'ui.module.availablecourses' %></h2>
					<div class="accordion" id="available-courses">

						<div class="accordion-group">
							<div class="accordion-header">
								<div class="accordion-toggle" data-toggle="collapse" data-target="#romanos" data-parent="#available-courses">
									<span>Romanos</span>
								</div>
							</div>
							<div id="romanos" class="accordion-body collapse in">
								<div class="module-body">
									<p>Esta clase te da una vista profunda del libro de Romanos. Pablo explica la fundacion del evangelio en una manera clara...</p>
									<div class="btn-group">
										<a class="btn btn-small btn-primary pull-right" href="#"><%= t 'ui.subscribe' %></a>
										<a class="btn btn-small btn-info pull-right" href="#"><%= t 'ui.courseinfo' %></a>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-group">
							<div class="accordion-header">
								<div class="accordion-toggle" data-toggle="collapse" data-target="#Ezequias" data-parent="#available-courses">
									<span>Ezequias</span>
								</div>
							</div>
							<div id="Ezequias" class="accordion-body collapse">
								<div class="module-body">
									<p>Esta clase te da una vista profunda del libro de Romanos. Pablo explica la fundacion del evangelio en una manera clara...</p>
									<div class="btn-group">
										<a class="btn btn-small btn-primary pull-right" href="#"><%= t 'ui.subscribe' %></a>
										<a class="btn btn-small btn-info pull-right" href="#"><%= t 'ui.courseinfo' %></a>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-group">
							<div class="accordion-header">
								<div class="accordion-toggle" data-toggle="collapse" data-target="#genesis" data-parent="#available-courses">
									<span>Genesis</span>
								</div>
							</div>
							<div id="genesis" class="accordion-body collapse">
								<div class="module-body">
									<p>Esta clase te da una vista profunda del libro de Romanos. Pablo explica la fundacion del evangelio en una manera clara...</p>
									<div class="btn-group">
										<a class="btn btn-small btn-primary pull-right" href="#"><%= t 'ui.subscribe' %></a>
										<a class="btn btn-small btn-info pull-right" href="#"><%= t 'ui.courseinfo' %></a>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-group">
							<div class="accordion-header">
								<div class="accordion-toggle" data-toggle="collapse" data-target="#galatas" data-parent="#available-courses">
									<span>Galatas</span>
								</div>
							</div>
							<div id="galatas" class="accordion-body collapse">
								<div class="module-body">
									<p>Esta clase te da una vista profunda del libro de Romanos. Pablo explica la fundacion del evangelio en una manera clara...</p>
									<div class="btn-group">
										<a class="btn btn-small btn-primary pull-right" href="#"><%= t 'ui.subscribe' %></a>
										<a class="btn btn-small btn-info pull-right" href="#"><%= t 'ui.courseinfo' %></a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</aside>
			<article class="span8 content">

				<div class="module">
					<h2><%= t 'ui.module.usercourses.mycourses' %></h2>
					<div class="accordion" id="active-courses">
					
						<% if @courses.blank? %>
							<div id="no-courses">
								<p>
									You don't have any active courses. Why don't you <%= link_to "have a look at the available courses.", courses_path %>
								</p>
							</div>
						<% else %>
							<% @courses.each_pair do |state, courses| %>
							<% courses.each_with_index do |course, index| %>
							<%  # Just some code to simulate a production environment to better display the UI, will be removed once the real feature is written
									grade = Random.rand(90+10)
									completion = Random.rand(90+10)

									if grade <= 45
										type = "fail"
									elsif grade >= 80
										type = "good"
									else
									  type = "warn"
									end %>
								<div class="accordion-group">
									<div class="accordion-header <%= type %>">
										<div class="accordion-toggle" data-toggle="collapse" data-target="#record<%= index %>" data-parent="#active-courses">
											<span><%= course.name %></span>
											<small><%= completion %>%&nbsp;<%= t 'ui.module.usercourses.completed' %></small>
										</div>
									</div>
									<div id="record<%= index %>" class="accordion-body collapse <%= index == 0 ? "in" : "" %>">
										<div class="module-body">
											<p><%= t 'ui.module.usercourses.nextlesson' %>: <strong>Chapter 5</strong></p>

											<div class="btn-group">
												<a class="btn btn-small btn-primary" href="#"><%= t 'ui.module.usercourses.takelesson' %></a>
												<a class="btn btn-small btn-info" href="#"><%= t 'ui.courseinfo' %></a>
											</div>
											<span class="average <%= type %> pull-right"><%= grade %></span>
										</div>
									</div>
								</div>
							<% end %>
							<% end %>
						<% end %>
					</div>
				</div>

<!-- 				<section id="messages">
					<h2>Mis Mensajes <small>Tienes 12 mensajes nuevos</small></h2>

					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Unread</th>
								<th>From:</th>
								<th>Subject</th>
								<th>Date Recieved</th>
							</tr>
						</thead>

						<tbody>
							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>
						</tbody>
					</table>
				</section>

								<section id="messages">
					<h2>Mis Mensajes <small>Tienes 12 mensajes nuevos</small></h2>

					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Unread</th>
								<th>From:</th>
								<th>Subject</th>
								<th>Date Recieved</th>
							</tr>
						</thead>

						<tbody>
							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr class="info">
								<td>&rsaquo;</td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>

							<tr>
								<td></td>
								<td>Henry McJohnson</td>
								<td>RE: I have a question about Romans...</td>
								<td>10 days ago</td>
							</tr>
						</tbody>
					</table>
				</section> -->
			</article>
		<% # End student Case %>
	<% end %>
</div>
<script type="text/javascript">
$(function(){
   $('.carousel').carousel();
});
</script>