<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  
<fieldset>
  
  <legend>Resend unlock instructions</legend>
  <%= f.error_notification %>
  
  <%= f.input :email, :required => true %>

  <div class="form-actions">
    <%= f.button :submit, "Resend unlock instructions", :class => "btn btn-primary" %>
    <%= link_to "Back", :back, :class =>"btn" %>
  </div>
</fieldset>
<% end %>

<%= render "links" %>