<strong>It's good to see you again</strong><br />
<h2><%= @user.first_name %>&nbsp;<%= @user.last_name %></h2><hr />

<div class="row">
	<div class="span4">
		<div><%= @user.email %><hr /></div>
		<div>
		<p>	<strong>Current Courses</strong><br />
			<% if @user.has_courses? %>
			You haven't signed up for any courses yet. Why don't you <%= link_to "take a look at what's offered!", courses_path %>
			<% else %>
				<% for course in @courses %>
					<%= course.name %> | <%= humanize_state(course.find_state) %><br />
					<p><%= course.description %></p>
				<% end %>
			<% end %>
		</p>
		</div>
	</div>

	<div class="span3 offset1">
		<p>Second Section of information</p>
	</div>
</div>

<%= link_to "Back", :back %>