<% title "IBCC en linea" %>


<div class="fixed-top">
	<nav class="omnibar centered">

		<div class="dropdown">
			<a id="dropdown-left" class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="caret"></span> plantel
			</a>
			<ul id="menu-left" class="dropdown-menu">
				<li><a href="http://www.ibccmexico.com/" target="_blank">Ensenada, Baja California, Mexico</a></li>
				<li><a href="#">IBCC en linea</a></li>
				<li><p>y habra mas en el futuro...</p></li>
			</ul>
		</div>

	    <div class="content">
	    	<section id="left-section">
	    		Ensenada, Baja California, Mexico
			</section>
			<section id="right-section">
				<a href="#"><span class="eng"></span> English</a>
				<a href="#"><span class="esp"></span> Espa&ntilde;ol</a>
			</section>
	    </div>

	    <div class="dropdown">
	    	<% unless user_signed_in? %>
			<a id="dropdown-right" class="dropdown-toggle" data-toggle="dropdown" href="#">
				login <span class="caret"></span>
			</a>
			<div id="menu-right" class="dropdown-menu pull-right">
				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-vertical"}) do |f| %>
					<fieldset>
					<%= f.input :email, :required => false, :autofocus => true, :placeholder => "Correo" %>
					<%= f.input :password, :required => false, :placeholder => "Clave" %>
					<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %><br />

					<%= f.button :submit, "Sign in", :class => "btn btn-success pull-left" %>
					<%= link_to "Forgot your password?", new_password_path('user'), :class => "pull-right" %>
					</fieldset>
				<% end %>
			</div>
			<% else %>
			<a id="dropdown-right" class="dropdown-toggle" data-toggle="dropdown" href="#">
				admin@awesome.com <span class="caret"></span>
			</a>
			<div id="menu-right" class="dropdown-menu pull-right">
			<ul>
				<li><%= link_to "Dashboard", "#" %></li>
				<li><%= link_to "Mi Cuenta", "#" %></li>
				<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
			</ul>	
			</div>
			<% end %>
		</div>
	</nav>
</div>

<div id="headline">Alcanzando al mundo para Cristo!</div>

<div id="mainnav">
	<nav>
		<div id="brand"><%= link_to "stuff", root_path, :id => "logo-main" %><h1 id="brand-name">Instituto Biblico<br />Capilla Calvario</h1></div>

		<ul class="pull-right">
			<li id="alumnos"><%= link_to "Alumnos", "#" %></li>
			<li id="profesores"><%= link_to "Profesores y Personal", "#" %></li>
			<li id="noticias"><%= link_to "Noticias", "#" %></li>
			<li id="quienes-somos"><%= link_to "Quienes Somos?", "#" %></li>
		</ul>
	</nav>
	<!-- Not working yet; will fix later or might change for something else

	<section id="subnav" class="pull-right">
		<ul id="alumnos">
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link</a></li>
		</ul>

		<ul id="profesores">
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link</a></li>
		</ul>

		<ul id="noticias">
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link</a></li>
		</ul>

		<ul id="quienes-somos">
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link |</a></li>
			<li><a href="#">A Link</a></li>
		</ul>
	</section> -->
</div>

<div class="container">

  <!-- Show notices if any -->
    <div class="row">
    	<div class="span4 offset4">
	    		<% flash.each do |name, msg| %>
            <div id="flash_<%= name %>" class="alert alert-<%= name == :notice ? "success" : name %>">
                <%= msg %>
              <a class="close" data-dismiss="alert">x</a>
            </div>
				  <% end %>
		  </div>
    </div>
  <!-- END Notices Area -->

  <!-- Main Content Area -->
	<div class="row">
		<div class="span10 offset1">
			<h2>To login, use the credentials below:</h2>
			<table class="table table-striped table-condensed">
				<tr>
					<td>Administrator</td>
					<td>admin@awesome.com</td>
					<td><strong>password:</strong> awesome12</td>
				</tr>
				<tr>
					<td>Staff</td>
					<td>staff@awesome.com</td>
					<td><strong>password:</strong> awesome12</td>
				</tr>
				<tr>
					<td>Teacher</td>
					<td>teacher@awesome.com</td>
					<td><strong>password:</strong> awesome12</td>
				</tr>
				<tr>
					<td>Student</td>
					<td>student@awesome.com</td>
					<td><strong>password:</strong> awesome12</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span10 offset1">
			<h2>Completed Features</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Feature</th>
					<th>Description</th>
					<th>Status</th>
				</tr>
				</thead>
				<tr>
					<td>User Login/Logout</td>
					<td>The user authentication system. I customized an existing system called <a href="http://github.com/plataformatec/devise">Devise</a></td>
					<td>Complete</td>
				</tr>
				<tr>
					<td>User Groups/Permissions</td>
					<td>The system for grouping users by role and giving them appropriate permissions. (i.e. a student should not be able to edit grades)</td>
					<td>Finished, but needs polishing</td>
				</tr>
				<tr>
					<td>Lessons and Videos</td>
					<td>The ability to create, view, and edit lessons and their videos, including video upload functionality.</td>
					<td>Finished</td>
				</tr>
				<tr>
					<td>Courses</td>
					<td>The ability to create, view, and edit courses and assign lessons to each course.</td>
					<td>Finished, but must be integrated with <a href="#subscriptions">User Subcriptions</a></td>
				</tr>
				<tr>
					<td>Basic Structure</td>
					<td>Created basic structure for app. Using a template for the look until I program what the final look will be</td>
					<td>Finished of course. You're looking at it!</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span10 offset1">
			<h2>Unfinished Features</h2>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Feature</th>
					<th>Description</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a name="subscriptions"></a>User-Course Subscriptions and Status Tracking</td>
					<td>The functionality for Students to be able to subscribe to a course and for the application to track status of payment, dropped(as in the student dropped the course), etc. This is a big feature since the system will be used in several other places as well.</td>
					<td>Not started, but next on the list.</td>
				</tr>
				<tr>
					<td>Exam/Grading Module</td>
					<td>The ability for students to take exams and be graded, store the grade, and offer a set number of retakes(maybe).</td>
					<td>Not started.</td>
				</tr>
				<tr>
					<td>Interface Design</td>
					<td>Design/Program the interface that will be used in the final product. This might be buying a template that is already made or making something myself.</td>
					<td>Design largely done. Programming not started.</td>
				</tr>
				<tr>
					<td>Payment Module</td>
					<td>The ability to accept payments from users and update status of their course from "unpaid" to "active"</td>
					<td>Not started. Preliminary research done.</td>
				</tr>
				<tr>
					<td>Beta Launch</td>
					<td>Launch the beta version of the site. Also, include a special feedback module for testers to easily submit feedback within the app.</td>
					<td>Not started. Preliminary research done.</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
  $('.dropdown form').on('click', function (e) {
    e.stopPropagation()
  });
});
</script>