<%= form_for [@course, @lesson], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  <br />
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <br />
    <%= f.label :teaching %><br />
    <%= f.file_field :teaching %>
  </p>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
