<%= simple_form_for [@course, @lesson], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
<fieldset>
    <legend><%= controller.action_name.capitalize %> Lesson</legend>
    <%= f.input :name %>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.label :teaching %>
    <%= f.file_field :teaching %>

  <div class="form-actions">
    <%= f.submit "Submit" %>
  </div>
</fieldset>
<% end %>
