<%= simple_form_for [@course, @lesson], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
<fieldset>
    <legend><%= controller.action_name.capitalize %> Lesson</legend>
    <%= f.input :name %>
    <%= f.input :description, :as => :text %>
    <%= f.input :teaching, :as => :file %>

  <div class="form-actions">
  	<%= f.submit "Next Step", :class => "btn btn-primary" %>
    <%= link_to "Cancel", @course, :class=>"btn" %>
  </div>
</fieldset>
<% end %>
