<% title "IBCC en linea" %>

<table>
  
<% for course in @courses %>
    <tr>
      <th><% course.name %></th>
    <tr>
  <% for lesson in @courses.lesson %>
    <tr>
      <td><%= lesson.name %></td>
  
      <td><%= link_to "Show", @lesson %></td>
    <% if false %><td><%= link_to "Edit", edit_lesson_path(@lesson) %></td><% end %>
      <td><%= link_to "Destroy", @lesson, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<% if false %>
<p><%= link_to "New Course", new_course_path %></p>
<% end %>