<% title "IBCC en linea" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for lesson in @lessons %>
    <tr>
      <td><%= lesson.name %></td>
      <% if false %>
      <td><%= link_to "Show", @lesson %></td>
      <td><%= link_to "Edit", edit_lesson_path(@course) %></td>
      <td><%= link_to "Destroy", @lesson, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<% if false %>
<p><%= link_to "New Course", new_course_path %></p>
<% end %>