<% title "IBCC en linea" %>
<% sidebar false %>

<div class="row">
<h3><%= @lesson.name %></h3>
<%= link_to "Back to #{@course.name}", @course %>
<ul class="pull-right plain">
  <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Options <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Edit", edit_course_lesson_path(@course, @lesson) %></li>
        <li><%= link_to "Add Quiz", new_lesson_exam_path(@lesson) %>
        <li class="divider"></li>
        <li>
          <%= link_to "Delete Lesson", [@course, @lesson], :confirm => 'Are you sure? This will be permanent!', :method => :delete %>
        </li>
      </ul>
  </li>
</ul>
<hr />
</div>

<p><%= @lesson.description %></p>

<p>
<video id="<%= @lesson.teaching_file_name %>" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
        data-setup="{}">
      <source src="<%= @lesson.teaching.url %>" type='<%= @lesson.teaching_content_type %>' />
</video>

<% if false %><%= raw embed_video(@lesson, :id => 'cheese', :controls => 'true', :size => '800x600') %><% end %>
</p>