<h4>Please select your method of payment:</h4>
<div class="tabbable">
  <ul class="nav nav-tabs" id="payment-select">
    <li><a href="#credit-form" data-toggle="tab">Credit Card</a></li>
    <li><a href="#deposit-form" data-toggle="tab">Bank Deposit</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <p>Please select a payment method above</p>
    </div>
    <div class="tab-pane" id="credit-form">
      <%= simple_form_for @payment, :html => { :class => 'form-horizontal'} do |f| %>
      <fieldset>
        <legend>Pay via Credit Card</legend>
        <div class="well well-small">Please note that we do not store your credit card information</div>
          <%= f.input :kind, :as => :hidden, :value => "credit" %>
          <%= f.input :stripe_card_token, :as => :hidden, :id => 'stripe_card_token' %>

          <div class="well well-small">
            <%= current_user.full_name %><br />
            <%= current_user.email %><br />
            This is the name we have on file for you. If it's not correct, please <%= link_to "change it now", edit_user_registration_path(current_user) %>
          </div>

        <div id="stripe_error">
          <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
        </div>

        <div id="credit-card">
        <!-- these fields are disabled before submission and are never transmitted back to rails -->
          <div class="control-group string required">
            <%= label_tag :credit_card_number, "Card Number", :class => "control-label string required" %>
            <div class="controls">
              <%= text_field_tag :credit_card_number, nil, :class => "string required", :name => nil %>
            </div>
          </div>

          <div class="control-group string required">
            <%= label_tag :cvc, "Security code (CVC)", :class => "control-label string required" %>
            <div class="controls">
              <%= text_field_tag :cvc, nil, :class => "string required", :name => nil %>
            </div>
          </div>

          <div class="control-group date required">
            <%= label_tag :card_month, "Expiration Date", :class => "control-label date required"%>
            <div class="controls">
              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :class => "date required span2"} %>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+25}, {name: nil, id: "card_year", :class => "date required span2"} %>
            </div>
          </div>

            <h4>Your unpaid courses</h4>
            <% @unpaid_subs.each do |sub| %>
              <%= sub.course.name %>&nbsp;|&nbsp;<%= sub.course.credits %><br />
            <% end %>
        
        <div class="form-actions">
        <%= f.submit nil, :class=>"btn btn-primary" %>
        <%= link_to "Cancel", courses_path, :class=>"btn" %>
        </div>
      </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="deposit-form">
      Bank Deposits happen here.
    </div>
  </div>
</div>