<% title "IBCC en linea" %>

<main>
  <header class="page-header">
    <h3>Available Courses</h3>
  </header>
  <div class="row">
    <section class="span10 offset1 course-list">
      <% for course in @courses %>
        <div class="row">
          <section class="span10 media">
            <aside class="media-object pull-right">
              <div class="dropdown btn-group">
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  Options <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit", edit_course_path(course) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Delete Course", course, :confirm => 'Are you sure? This will be permanent!', :method => :delete %>
                  </li>
                </ul>
              </div>
            </aside>
            <%= link_to course do %>
              <article class="media-body pull-left">
                <h3 class="media-header pull-left"><%= course.name %></h3>
                <span class="pull-right course-desc"><%= course.description.truncate(70) %></span>
              </article>
            <% end %>
          </section>
        </div>
      <% end %>
    </section>
  </div>
  <hr />
  <p><%= link_to "New Course", new_course_path %></p>