<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Armory" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% render 'layouts/shim' %>
</head>
<body class="ui">
<!-- Alternate Notifications Idea. WIP
<% flash.each do |name, msg| %>
  <div class="ui fixed-top">
    <div id="flash_<%= name %>" class="alert centered ui-alert ui-alert-<%= name == :notice ? "success" : name %>">
        <strong><%= msg %></strong>
      <a class="close" data-dismiss="alert">x</a>
    </div>
  </div>
<% end %>
-->

<!-- Body of Site -->

<!-- Main UI Navigation -->
<nav class="ui-nav">
  <div class="container">
    <ul>
      <li class="divider-vertical"></li>
      <li><a href="#"><i class="icon-home icon-white"></i></a></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "My Courses", "#" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Grades & Reports", "#" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Notifications", "#" %></li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</nav>

<header>
  <div class="container">
    <h1>Hello there Bob Jenkins <small>Nice to see you again.</small></h1>
  </div>
</header>

<div class="container maincontent <%= content_for?(:sidebar) ? yield(:sidebar) : "" %>">
  <!-- Show notices if any -->
  <div class="row">
    <div class="span4 offset4">
      <% flash.each do |name, msg| %>
        <div id="flash_<%= name %>" class="alert alert-<%= name == :notice ? "success" : name %>">
          <%= msg %>
          <a class="close" data-dismiss="alert">x</a>
        </div>
      <% end %>
    </div>
  </div>
  <!-- END Notices Area -->

  <!-- Main Content Area -->
  <div class="row">
  <div class="span12">
			<%= yield %>
  </div>
  </div>
  <!-- END Main Content Area -->
</div>
</body>
</html>
