<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Armory" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% render 'layouts/shim' %>
</head>
<body>

<!-- Navigation -->
<!--<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
          <%= link_to "IBCC en Linea", root_url, :id => "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_url %></li>
              <li><%= link_to "Courses", courses_path %></li>
              <% if user_signed_in? %><li><%= link_to "User Management", users_path %></li><% end %>
              <li class="divider-vertical"></li>
                <% if user_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Signed in as <strong><%= current_user.email %></strong>
                      <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
                <% else %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Account
                      <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "Sign Up", new_user_registration_path %></li>
                      <li><%= link_to "Login", new_user_session_path %></li>
                  </ul>
                </li>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
</header> -->

<!-- Show notices if any -->
<% flash.each do |name, msg| %>
  <div class="ui fixed-top">
    <div id="flash_<%= name %>" class="alert centered ui-alert ui-alert-<%= name == :notice ? "success" : name %>">
        <strong><%= msg %></strong>
      <a class="close" data-dismiss="alert">x</a>
    </div>
  </div>
<% end %>
<!-- END Notices Area -->

<!-- Body of Site -->


  <!-- Main UI Navigation -->
  <nav class="ui-nav">
    <div class="container">
      <ul>
        <li><%= link_to "My Courses", "#" %></li>
        <li><%= link_to "My Courses", "#" %></li>
        <li><%= link_to "My Courses", "#" %></li>
      </ul>
    </div>
  </nav>

<div class="container">

  <!-- Main Content Area -->
  <div class="row">
    <div class="span8 main-body">
			<%= yield %>
    </div>
  </div>
  <!-- END Main Content Area -->
</div>
</body>
</html>
